MONGODB_URI=mongodb+srv://pradeepyadav7326_db_user:Pradeep9554@cluster0.aqpoke6.mongodb.net/cms?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
FRONTEND_API_LINK=http://localhost:3000
JWT_SECRET=THISISSECRET

NODEMAILER_EMAIL=
NODEMAILER_PASS=
